{% extends "wheelz/base.html" %}
{% block content %}

  
<section class="hero">
    <div class="hero-image"style="height:100%">
      <img src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Hero Image">
    </div>
    <div class="hero-content">
      <br>
      <br>
      <br>
      <br>
      <h1>Wheelz</h1>
<p>Ride In Style!</p>
      <!-- your hero content goes here -->
    </div>
  </section>
  

  <main id="main">

    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="bi bi-briefcase"></i>
            <h4 class="title"><a href="">Are you looking to give yourself or someone you love a treat?</a></h4>
            <p class="description">There is no better gift than a set of wheels to hit the road</p>

          </div>

          <div class="col-lg-4 box box-bg">
            <i class="bi bi-card-checklist"></i>
            <h4 class="title"><a href="">Quality Vehicles</a></h4>
            <p class="description">Since our grand opening in 2023, Wheez has provided our customers with quality vehicles and high end services to suit their needs.</p>

          </div>

          <div class="col-lg-4 box">
            <i class="bi bi-binoculars"></i>
            <h4 class="title"><a href="">Presenting customers well with cars that best fit their requirements.</a></h4>

            <p class="description">Strike while the iron is hot, and you should take advantage of the incredible offers before they cools off.</p>
          </div>

        </div>
      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Wheelz allows car dealers and individuals to buy and sell cars with ease.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>Our main aim  is to create an easy-to-use interface that simplifies the process of buying and selling cars.Ride away with an awesome set of wheels to call your own.
                <br>
                </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                To facilitate the buying and selling of cars. Wheelz will allow car dealers and individuals to register on the platform and list their cars for sale.              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                Our vision is to make the buying and selling of cars hassle-free and reliable. We strive to help by offering the vehicles that are most suitable to their needs.             </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p> Whether you’re looking for new or used, large or small, bare essentials or fully equipped, we know you’ll ride away from Wheelz with an awesome set of wheels to call your own.</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Quality vehicles</a></h4>
            <p class="description">Since our grand opening in 2023, Wheelz has provided our customers with quality vehicles and high end services to suit their needs.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">High end services</a></h4>
            <p class="description">Since 2023, when Wheelz first opened its doors to the public, we have offered our clients top-notch services and high-end vehicles to meet their requirements.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Reasonable Prices</a></h4>
            <p class="description">Wheelz also prides ourselves on offering the most reasonable prices in town, with options that fall within everyone’s budget.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Diverse Vehicles</a></h4>
            <p class="description">With a diverse assortment of vehicles in stock, we’re guaranteed to have something for everyone to enjoy.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Best deals</a></h4>
            <p class="description"> We strive to help by offering the vehicles that are most suitable to their needs.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Extensive  collection</a></h4>
            <p class="description" >We know you’ll ride away from Carnest with an awesome set of wheels to call your own.</p>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container text-center" data-aos="zoom-in">
        <h3>Wheelz</h3>
        <p> Lets get started by posting the advertisement for your car!</p>
        <a class="cta-btn" href="{% url 'wheelz-home' %}">Generate Ad</a>
      </div>
    </section><!-- End Call To Action Section -->
</div>
<br>
<br>

{% endblock  %}
 